<section id="contact-form"
    class="gradient-bg">
    <h1 *ngIf="!conf.viewport" class="mat-h1">Contact Us</h1>
    <form id="form-group"
        [class.scaled]="!conf.mobileMode() && conf.viewport"
        [formGroup]="contactForm"
        class="mat-elevation-z3">
        <h2 *ngIf="conf.mobileMode() || conf.viewport" class="mat-h2">Contact Us</h2>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput value="Google" formControlName="name"/>
            <mat-error *ngIf="contactForm.controls['email'].errors?.['required']">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email"/>
            <mat-error *ngIf="contactForm.controls['email'].invalid">
                Please enter a <strong>valid</strong> email.
            </mat-error>
            <mat-error *ngIf="contactForm.controls['email'].errors?.['required']">
                Email is <strong>required</strong>.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <textarea matInput 
            cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="15"
            formControlName="message"></textarea>
            <mat-error *ngIf="contactForm.controls['message'].errors?.['required']">
                Message is <strong>required</strong>.
            </mat-error>
        </mat-form-field>
        <div class="spacer"></div>
        <div *ngIf="conf.mobileMode() || !conf.viewport">
            <button id="back-button"
                mat-icon-button
                matTooltip="Go back"
                aria-label="Go back to homepage"
                (click)="nav.routeHome()">
                <mat-icon>refresh</mat-icon>
            </button>
            <button id="send-button"
                mat-mini-fab 
                aria-label="Send message"
                aria-controls="form-group"
                matTooltip="Send message"
                color="warn">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </form>
</section>
<button id="send-viewport-button"
    *ngIf="!conf.mobileMode() && conf.viewport"
    mat-mini-fab 
    aria-label="Send message"
    aria-controls="form-group"
    matTooltip="Send message"
    color="warn">
    <mat-icon>send</mat-icon>
</button>