@use "@angular/material" as mat;
@use "sass:map";

@use "./global.theme" as global;
@use "./app/app.theme" as app;
@use "./app/home/home.theme" as home;
@use "./app/about/components/about/about.theme" as about;
@use "./app/contact/components/contact/contact.theme" as contact;
@use "./app/location/components/location/location.theme" as location;
@use "./app/store/components/store/store.theme" as store;
@use "./app/store/components/clothing/clothing.theme" as clothing;
@use "./app/shared/components/error/error.theme" as error;

@import "@angular/material/theming";

$copper_palette: (
    900:#833316,
    800:#943a1d,
    700:#a13f21,
    600:#b14826,
    500:#be5027,
    400:#c05a40,
    300:#be7264,
    200:#d3978d,
    100:#eecac9,
    050:#f8eaea,
    contrast: (
        50: #000000,
        100: #000000,
        200: #040202,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    )
);
$amaranth_palette: (
    900:#880d4e,
    800:#ad1356,
    700:#c2185a,
    600:#d81b5f,
    500:#e91e62,
    400:#ec4079,
    300:#f06291,
    200:#f48fb0,
    100:#f8bbd0,
    050:#fce4ec,
    contrast: (
        50: #000000,
        100: #000000,
        200: #040202,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    )
);
$kornikova_palette: (
    900: #fd6300,
    800: #fd8500,
    700: #fd9700,
    600: #fdaa00,
    500: #fdb800,
    400: #fec208,
    300: #fece40,
    200: #ffdb78,
    100: #ffe9ad,
    050: #fff7df,
    contrast: (
        50: #000000,
        100: #000000,
        200: #040202,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    )
);
$jade_palette: (
    900: #00813d,
    800: #00a255,
    700: #00b461,
    600: #00c870,
    500: #00d97c,
    400: #00e28f,
    300: #1ee9a5,
    200: #81efc0,
    100: #b7f5d9,
    050: #e2fcf0,
    contrast: (
        50: #000000,
        100: #000000,
        200: #040202,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    )
);

// TODO: create your own theme. these colors aren't used anywher.

$primary: mat-palette($amaranth_palette);
$complement: mat-palette($kornikova_palette);
$warn: mat-palette($jade_palette);

$color: (
    primary: $primary,
    accent: $complement,
    warn: $warn
);

$typography: mat.define-typography-config(
  $font-family: sans-serif
);


$theme: mat.define-light-theme((
    color: $color, 
    typography: $typography
));

@include angular-material-theme($theme);
@include angular-material-typography($typography);
@include mat-core($typography);
@include global.theme($theme);
@include about.theme($theme);
@include app.theme($theme);
@include contact.theme($theme);
@include location.theme($theme);
@include home.theme($theme);
@include error.theme($theme);
@include store.theme($theme);
@include clothing.theme($theme);

