html, body { 
    height: 100%; 
}
.non-clickable{
    pointer-events: none;
}
.v-align-flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h-align-flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.no-scroll{
    overflow-y: hidden;
}
.faded{
    opacity: 0.5;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 2.5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
}
@media (max-width: 576px){

}
@media (max-width: 992px) and (min-width: 577px){

}
@media (min-width: 991px){

}