<section id="location" class="gradient-bg">
    <h1 *ngIf="!conf.viewport" class="mat-h1">Find Us</h1>
    <div id="map-container">
        <span id="map-border">
            map goes here
        </span>
    </div>
    <div id="button-container" 
        *ngIf="conf.mobileMode() || !conf.viewport">
        <button id="location-back-button"
            mat-icon-button
            matTooltip="Go back to the homepage"
            aria-label="Go back to the homepage"
            (click)="nav.routeHome()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
</section>