svg{
    position: absolute;
    width: 100%;
    overflow: visible;
}
#clothing-animation{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.clothing-off-animation{
    -webkit-animation: clothing-off 1s steps(18);
    -moz-animation: clothing-off 1s steps(18);
    -o-animation: clothing-off 1s steps(18);
    animation: clothing-off 1s steps(18);
    background: url('/assets/svgs/graphics/keyframes_desktop_clothing_transition.svg');
}
.hidden{
    display:none;
}
@keyframes clothing-off{
    0% { background-position-y: -769.350962px; }
    100% { background-position-y: 0px;}
}