<section>
    <header>
       <h1>
          <span>Sunshine</span><br>
          <span>Daze</span>
       </h1>
    </header>
    <nav *ngIf="!conf.mobileMode() && conf.viewport">
       <a id="facebook-link"
          href="https://facebook.com"
          target="_blank"
          class="h-align-flex">
          <img id="facebook-icon"
             alt="Sunshine Daze Facebook"
             title="Visit our Facebook, dude."
             src="/assets/svgs/icons/facebook.svg"/>
       </a>
       <a id="instagram-link" 
          href="https://instagram.com"
          target="_blank"
          class="h-align-flex">
          <img id="instagram-icon"
             alt="Sunshine Daze Instagram"
             title="Our Instagram is a groovy place."
             src="/assets/svgs/icons/instagram.svg"/>
       </a>
    </nav>
 </section>